@{
    Layout = null;
}

<div class="container">
    <h2>
        Customers Index
    </h2>
    <a href="/">Dash Board</a>

    <div class="row">
        <div class=".col-lg-12">
            {{SelectCustomer}} - {{SelectedPrice}}
            <input type="hidden" class="Select2" style="width: 300px" data-dataurl="/Home/GetSelect2Data" ng-model="SelectCustomer" />
            <input type="text" class="CurrencyInput" data-mdec="3" ng-model="SelectedPrice" />

            {{SelectedDate}}
            <input type="text" class="DatePicker" ng-model="SelectedDate" data-date="2014/02/01 21:09:00" data-pickTime="false" />
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="dsTable table table-striped table-bordered table-hover table-condensed" ng-model="$tableInfo" data-queryurl="/Home/GetTableData">
                <thead>
                    <tr>
                        <th colspan="2">
                            Rows Per Page Selector
                        </th>
                    </tr>
                    <tr>
                        <th data-sort="Id" data-filter="{Id : 'text'}">Cell 1</th>
                        <th>Cell 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="items in $tableInfo.Data">
                        <td>{{items.Id}}</td>
                        <td>{{items.UserName}}</td>

                    </tr>
                </tbody>                
            </table>
        </div>        
        <ul class="dsPagination pagination" ng-model="$tableInfo" data-queryurl="/Home/GetTableData">
            <li ng-repeat="pageId in $tableInfo.Pager.Pages" class="{{pageId > 0 ? (pageId == $tableInfo.Pager.PageNo ? 'active' : '') : ''}} {{pageId > -20 && pageId < 0 ? ($tableInfo.Pager.PageNo == 1 ? 'disabled' : '') : '' }}">
                <a href="#" ng-click="pageSelected($index, $event)">
                    <span ng-if="pageId == -10">Αρχική Σελίδα</span>
                    <span ng-if="pageId == -11">&laquo;</span>
                    <span ng-if="pageId > 0">{{pageId}}</span>
                    <span ng-if="pageId == -21">&raquo;</span>
                    <span ng-if="pageId == -20">Τελευταία Σελίδα</span>
                </a>
            </li>
        </ul>
    </div>
    {{$tableInfo}}
    <div class="row">
        <div class="btn-group">
            <button type="button" class="btn btn-default">1</button>
            <button type="button" class="btn btn-default">2</button>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>